page-home {}

.navcontainer {
    position: fixed;
    top: 7%;
    padding-top: 8%;
    width: 100%;
    background: white !important;
}

.nav {
    display: inline-block;
    text-align: center !important;
    background: white !important;
}

ion-card {
    margin-top: 10% !important;
}